body {
  font-family: Verdana, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}

nav {
  background-color: #003366;
  padding: 10px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

h1, h2 {
  color: #003366;
}

section {
  margin: 40px 20px;
}

img {
  max-width: 100%;
  height: auto;
}

.home-portrait {
  width: 50%;
  margin-top: 20px;
}

ul {
  list-style-position: inside;
  margin: 0 auto;
  padding: 0;
  width: fit-content;
  text-align: left;
}

ul li {
  margin: 10px 0;
  text-align: left;
}

a {
  display: inline-block;
  margin: 10px 0;
}
